/* Reset some default browser styles */
body, h1, p, a, textarea {
    margin: 0;
    padding: 0;
    border: none; /* Ensure there's no border */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

body {
    background-color: black;
    color: #00ff00; /* Cool green hacker color */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    border: 2px solid #00ff00;
    padding: 40px; /* Increased padding for larger content area */
    width: 90%; /* Increased width */
    max-width: 800px; /* Increased max-width */
    margin-bottom: 40px; /* Increased space between the container and ASCII art */
    margin-top: 20px; /* Push down the container */
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #00ff00;
}

p {
    font-size: 1.5em; /* Increased font size for better readability */
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 15px 30px; /* Increased padding for button */
    border: 2px solid #00ff00;
    color: #00ff00;
    text-decoration: none;
    font-size: 1.2em; /* Increased font size */
    text-shadow: 0 0 10px #00ff00;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #00ff00;
    color: black;
}

.ascii-art-container {
    color: #00ff00;
    text-align: center;
    width: 100%; /* Ensure it spans the width of the container */
    max-width: 800px; /* Ensure it respects the max-width of the container */
    margin-bottom: 20px; /* Space between ASCII art and container */
}

textarea.tatjsOutput {
    width: 100%; /* Full width of the container */
    height: 400px; /* Decreased height for smaller art */
    background-color: black;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5px; /* Smaller font size */
    line-height: 8px; /* Adjust line height to match font size */
    resize: none;
    overflow: hidden;
    border: none; /* Ensure there's no border */
    padding: 0; /* Ensure there's no padding */
    margin: 0; /* Ensure there's no margin */
    text-align: center; /* Center-align text within the textarea */
}





